- blocked = current_user.remote_blocked?(user)

.row
  .col-sm-4
    = render partial: 'users/card', locals: { user: user, blocked: blocked }
      
  .col-sm-8
    - if current_user.me?(user.screen_name)
      = render partial: 'shared/new_tweet'
    
    - if blocked
      .text-center
        %p
          %span.fa-stack.fa-5x
            %i.fa.fa-user.fa-stack-1x
            %i.fa.fa-ban.fa-stack-2x.text-danger
        %p.lead
          This user is blocked.
          = link_to 'Unblock', user_unblock_path(user.id), method: :delete
          to view his/her tweets.
    - else
      #statuses-loader
        .list-group
          .list-group-item
            .text-center
              %i.fa.fa-refresh.fa-spin.fa-lg
      .list-group#statuses{rel: :tweets, data: { refresh_url: user_statuses_path(user.screen_name, :js), loader: '#statuses-loader' }}
