%h1
  Search results for
  %small= params[:q]
  
- if @users.present?
  .row
    - @users.in_groups_of(3).to_a.transpose.each do |users|
      .col-sm-4
        %ul{style: 'padding: 0;'}
          - users.each do |user|
            - if user.present?
              = render partial: 'users/list', locals: { user: user }
- else
  .alert.alert-info No users found matching your query.
      
