Welcome to AutoTwittler!

= render partial: 'shared/new_tweet'

%h1 Timeline
%ul
  - @timeline.each do |status|
    %li
      = render partial: 'shared/tweet', locals: { tweet: status }
      
%h1 Suggested users
%ul
  - @suggested_users.each do |user|
    %li
      = render partial: 'users/list', locals: { user: user }
      
