= render partial: 'shared/new_tweet'

#timeline-statuses-loader
  .list-group
    .list-group-item
      .text-center
        %i.fa.fa-refresh.fa-spin.fa-lg
.list-group#timeline-statuses{rel: :tweets, data: { refresh_url: statuses_timeline_path(:js), loader: '#timeline-statuses-loader' }}

- content_for :sidebar do
  %h2 Recent Tweeters
  .panel.panel-default
    .panel-body
      .text-center#timeline-recents-loader.hide
        %i.fa.fa-refresh.fa-spin.fa-lg
      %ul.media-list{rel: :tweets, data: { refresh_url: recents_timeline_path(:js), loader: '#timeline-recents-loader' }}
