= render partial: 'shared/new_tweet'

#statuses-loader
  .list-group
    .list-group-item
      .text-center
        %i.fa.fa-refresh.fa-spin.fa-lg
.list-group#statuses{rel: :tweets, data: { refresh_url: statuses_timeline_path(:js), loader: '#statuses-loader' }}

- content_for :sidebar do
  %h2 Recent Tweeters
  .panel.panel-default
    .panel-body
      %ul.media-list{rel: :tweets, data: { refresh_url: recents_timeline_path(:js) }}
        %li.text-center
          %i.fa.fa-refresh.fa-spin.fa-lg
