= form_tag search_users_path, method: :get, class: 'navbar-form' do
  .form-group{style: 'display: inline;'}
    .input-group{style: 'display: table;'}
      %span.input-group-addon{style: 'width: 1%;'}
        %i.fa.fa-search
        %i.fa.fa-refresh.fa-spin.hide
      = search_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...', autocomplete: :off, dir: :ltr, rel: :typeahead, data: { remote_url: search_users_path(q: '%QUERY') }
      = submit_tag nil, name: nil, class: 'hide'
